.post-info-container {
    margin-top: 2vw;
}

.post-info-container-line {
    height: 1px;
    margin-bottom: 5px;
    background-color: rgb(120, 120, 120);
}

.post-info-container-comment-link-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1vw;
}

.post-container-comment-link {
    color: black;
    text-decoration: none;
    font-size: calc(20px + 0.7vw);
}

.post-info-para {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

.post-info-share {
    margin-left: calc(10px + 0.7vw);
    font-size: calc(15px + 0.7vw);
    margin-bottom: 5px;
    cursor: pointer;
}