.post-wrapper {
    width: 70vw;
    margin-top: 1vw;
}

.post-header-title {
    text-align:left;
}

.post-header-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-header-date {
    display: inline;
    margin: 0;
    color: gray;
}